.certifications-maindiv{
    margin: 2rem;   

}

.certifications-container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

.certification1{
    box-shadow: 1px 5px 10px 5px #888888;
    border-radius: 0.8em;
    line-height: 2em;
    padding: 8px;
    max-width:fit-content;
    margin: 1rem;
}

.certification1 img{
    height:fit-content;
    width:30vw;    
}

.certification1 button{
    padding: 1em;
    font-size: 1rem;
    background-color: rgb(112, 11, 184);
    color: white;
    border-radius: 1em;
    width: fit-content;
    font-weight: 700;
    border:0px;
    margin-bottom: 1em;
}
