.experience-main-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em;
}

.experience-flex-div{
    display: flex;
    justify-content:center;
    align-items: center;
}


.experience-flex-right-div img{
    height:4vh;
}


.experience-flex-div p{
    color: grey;
    font-size: 1.1rem;
}

img{
    width: 8%;
}

.experience-flex-right-div{
    text-align:left
}

.experience-flex-left-div{
    /* position: relative;
    left: 10rem;
    bottom: 5rem; */
    padding: 0px 0px 20% 10%;
}


.experience-flex-left-div button{
    padding: 10px;
    background-color: rgb(112, 11, 184);
    border-radius: 10px;
    width:fit-content;
    margin:0px 45px;
    border:0px;
}

.experience-flex-left-div button a{
    color: white;
    font-size: small;
}


.experience-flex-right-div img{
    margin: 0px 15px 20px 0px;
}

.experience-flex-right-div a:hover{
    color:blue;
}



@media screen and (max-width:948px){
    .experience-flex-div{
        margin-top: 1em;
        flex-direction: column;
    }

 }