.intro-main-div{
    margin:70px 70px 0px 70px;
}

.intro-flex-div{
    display: flex;
    justify-content: space-around;
}

.intro-flex-div p{
    color: grey;
    font-size: 1.1rem;
}


.intro-flex-left-div{
    flex-basis: 50%;
    text-align: center;
}

.intro-flex-right-div{
    flex-basis: 100%;
    position: relative;
    bottom: 120px;
    left: 120px;
     
}


.intro-flex-right-div svg{
    height:fit-content;
    position: relative;
    bottom: 50px;
}

.social-media-icons{
    display: flex;
    justify-content: space-around;
}

img{
    width: 8%;
}

.intro-flex-left-div button{
    padding: 10px;
    background-color: rgb(112, 11, 184);
    border-radius: 10px;
    width:fit-content;
    margin:0px 45px;
    border:0px;
}

.intro-flex-left-div button a{
    color: white;
    font-size: small;
}


.intro-flex-right-div img{
    margin: 0px 15px 20px 0px;
}

.intro-flex-right-div a:hover{
    color:blue;
}

@media screen and (max-width:948px){
    .intro-main-div{
        max-height:60vh;
    }
    .intro-flex-div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .intro-flex-right-div{
         display: block;
        margin:0px 50% 0px 0px;
    }
    
    

 }