nav{
    padding: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



.navname{
    font-variant-ligatures: no-common-ligatures;
    font-weight: 700;
    padding: 0 10px;
}

.nav-right-side{
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

a{
    text-decoration: none;
    font-family: cursive;
    font-size:x-large;
}

li{
    list-style: none;
    width: fit-content;
    padding: 1rem;
    overflow: hidden;
}



.nav-right-side a{
    color: black;
    font-family:sans-serif
}

@media screen and (max-width:948px){
    nav{
        flex-direction: column;
        overflow: hidden;
        text-align: center;
        padding: 0;
        flex-wrap: wrap;
    }
    .nav-right-side{
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        width: 100%;
    }

    li{
        overflow: hidden;
        padding: 5px;
    }
    ul{
        padding: 0;
        margin: 0;
    }
    a{
        text-decoration: none;
        font-family: cursive;
        font-size:medium;
    }
}

